/*
 _____                _
|  __ \              | |
| |  \/ ___ _ __ __ _| |
| | __ / _ | '__/ _` | |
| |_\ |  __| | | (_| | |
 \____/\___|_|  \__,_|_|
*/

* {
    scrollbar-color: #F6B17A #222831;
}

:root{
   --cor-de-fundo: #2D3250;
   --cor-de-link: #424769;
   --cor-de-link-ativo: #222831;
   --cor-de-titulo: #F6B17A;
   --cor-de-text: #7077A1;
   --cor-de-subtitulo: #EEEEEE;
}


body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    scrollbar-color: #e100ff #000;
}

ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*
 _    _  _    _
| |  (_)| |  | |
| |_  _ | |_ | |  ___
| __|| || __|| | / _ \
| |_ | || |_ | ||  __/
 \__||_| \__||_| \___|
*/

section.title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10% 6% 6%;
}

.title__div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 20px;
}

.title__profile {
    max-width: 30%;
    transition: transform .5s;
}

.title__profile:hover {
    transform: rotateY(180deg);
}

.title__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.title__bio {
    background: linear-gradient(to right, #e16804 0%, #fff 40%, #fa0446 70%, #920499 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(246, 177, 122, 0.502);
    color: var(--cor-de-titulo);
    height: 40%;
}

.title__subsection {
    color: var(--cor-de-text);
    background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 9s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

 @-moz-keyframes shine {
    0% {
        background-position: 0;
    }
    20% {
      background-position: 180px;
    }
    40% {
        background-position: 360px;
    }
    60% {
        background-position: 540px;
    }
    80% {
        background-position: 720px;
    }
    100% {
      background-position: 900px;
    }
}

@-webkit-keyframes shine {
    0% {
        background-position: 0;
    }
    20% {
      background-position: 180px;
    }
    40% {
        background-position: 360px;
    }
    60% {
        background-position: 540px;
    }
    80% {
        background-position: 720px;
    }
    100% {
      background-position: 900px;
    }
}

@-o-keyframes shine {
    0% {
        background-position: 0;
    }
    20% {
      background-position: 180px;
    }
    40% {
        background-position: 360px;
    }
    60% {
        background-position: 540px;
    }
    80% {
        background-position: 720px;
    }
    100% {
      background-position: 900px;
    }
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    20% {
      background-position: 180px;
    }
    40% {
        background-position: 360px;
    }
    60% {
        background-position: 540px;
    }
    80% {
        background-position: 720px;
    }
    100% {
      background-position: 900px;
    }
}


.title__network {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.title__network__item a,
.title__network__item a{
    color: var(--cor-de-link-ativo);
}


.title__network__item:hover a,
.title__network__item:hover a{
    color: var(--cor-de-subtitulo);
    transform: rotateX(-3deg);
}


/*
       _                 _
      | |               | |
  __ _| |__   ___  _   _| |_
 / _` | '_ \ / _ \| | | | __|
| (_| | |_) | (_) | |_| | |_
 \__,_|_.__/ \___/ \__,_|\__|
*/

section.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #7077A1;
    padding: 4% 6%;
    gap: 20px;
}

.about__title {
    font-size: 33px;
}

.about__container img {
    width: 15%;
}

/*
      _     _  _  _
     | |   (_)| || |
 ___ | | __ _ | || | ___
/ __|| |/ /| || || |/ __|
\__ \|   < | || || |\__ \
|___/|_|\_\|_||_||_||___/
*/

section.skills{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4% 6%;
    margin: 0;
}

.skills__title {
    color: var(--cor-de-titulo);
    font-size: 29px;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(246, 177, 122, 0.5);
}

.skills__line{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.skills__box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.skills__name {
    color: var(--cor-de-text)
}

/*
 _           _     _     _
| |         | |   | |   (_)
| |__   ___ | |__ | |__  _  ___  ___
| '_ \ / _ \| '_ \| '_ \| |/ _ \/ __|
| | | | (_) | |_) | |_) | |  __/\__ \
|_| |_|\___/|_.__/|_.__/|_|\___||___/
*/

section.hobbies{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 4% 6%;
    margin: 0;
}

.hobbies__title {
    color: var(--cor-de-titulo);
    font-size: 29px;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(246, 177, 122, 0.5);
}

.hobbies__line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hobbies__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hobbies__img img{
    max-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.hobbies__name {
    color: var(--cor-de-text)
}

/*
                     _                _
                    | |              (_)
  __ _  ___ __ _  __| | ___ _ __ ___  _  ___
 / _` |/ __/ _` |/ _` |/ _ | '_ ` _ \| |/ __|
| (_| | (_| (_| | (_| |  __| | | | | | | (__
 \__,_|\___\__,_|\__,_|\___|_| |_| |_|_|\___|
*/

section.academic{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6% 6% 8%;
    gap: 20px;
    position: relative;
    margin: 0;
}


section.academic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-science.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    filter: blur(5px);
    z-index: -1;
}


.academic__title {
    color: var(--cor-de-titulo);
    font-size: 29px;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(246, 177, 122, 0.5);
}

.academic__courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.academic__courses:hover > :not(:hover) {
    opacity: .4;
    transform: scale(0.9);
}

.academic__courses__box {
    width: 150px;
    height: 200px;
    padding: 2%;
    box-sizing: content-box;
    position: relative;
    border: #F6B17A 1px solid;
    outline: none;
    background: transparent;;
    transition: 1s;
    border-radius: 0.3rem;
    backdrop-filter: blur(24px);
    transition: .35s;
    cursor: pointer;
}

.academic__courses__box::before,
.academic__courses__box::after {
    transform: scale(0);
}

.academic__courses__box:hover {
    box-shadow: inset 0px 0px 5px #F6B17A ;
}

.academic__courses__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
}

.academic__courses__item__img img{
    width: 80px;
}

.academic__courses__item__title {
    font-size: 14px;
}

.academic__courses__item__subtitle {
    font-size: 12px;
}

/*
                           _
                          (_)
  _____  ___ __   ___ _ __ _  ___ _ __   ___ ___
 / _ \ \/ | '_ \ / _ | '__| |/ _ | '_ \ / __/ _ \
|  __/>  <| |_) |  __| |  | |  __| | | | (_|  __/
 \___/_/\_| .__/ \___|_|  |_|\___|_| |_|\___\___|
          | |
          |_|
*/

section.experience{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4% 0 4%;
}

.experience__section__title{
    color: var(--cor-de-titulo);
    text-align: center;
    font-size: 29px;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(246, 177, 122, 0.5);
}

.experiencie__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 4% 6%;
}

.experience__img{
    width: 700px;
}

.experiencie__box:nth-child(2),
.experiencie__box:nth-child(4) {
    flex-direction: row-reverse;
}

.experience__title{
    color: var(--cor-de-subtitulo);
}

.experience__text {
    color: #000000b5;
}

.experiencia__botao--repo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    height: 45px;
    border: none;
    padding: 0px 15px;
    border-radius: 5px;
    background-color: rgb(49, 49, 83);
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.Documents-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    height: 45px;
    border: none;
    padding: 0px 15px;
    border-radius: 5px;
    background-color: rgb(49, 49, 83);
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .folderContainer {
    width: 40px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }
  .fileBack {
    z-index: 1;
    width: 80%;
    height: auto;
  }
  .filePage {
    width: 50%;
    height: auto;
    position: absolute;
    z-index: 2;
    transition: all 0.3s ease-out;
  }
  .fileFront {
    width: 85%;
    height: auto;
    position: absolute;
    z-index: 3;
    opacity: 0.95;
    transform-origin: bottom;
    transition: all 0.3s ease-out;
  }
  .text {
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  .Documents-btn:hover .filePage {
    transform: translateY(-5px);
  }
  .Documents-btn:hover {
    background-color: rgb(58, 58, 94);
  }
  .Documents-btn:hover .fileFront {
    transform: rotateX(30deg);
  }
 


/*
 _____             _             _
/  __ \           | |           | |
| /  \/ ___  _ __ | |_ __ _  ___| |_
| |    / _ \| '_ \| __/ _` |/ __| __|
| \__/| (_) | | | | || (_| | (__| |_
 \____/\___/|_| |_|\__\__,_|\___|\__|
*/

section.formcontato{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4% 4% 6%;
}

.formcontato__contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
}

.formcontato--esquerda {
    padding: 0;
}

.formcontato__img {
    height: 100%;
    width: auto;
}

.formcontato__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 15px 0;
}

.formcontato__title,
.formcontato__subtext,
.formcontato__subtext {
    margin: 0;
    padding: 4px 0;
    color: var(--cor-de-subtitulo);
    line-height: 1.2rem;
}

.formcontato__title{
    margin-bottom: 10px;
    font-size: 24px;
}

.formcontato__subtext,
.formcontato__subtext {
    font-size: 16px;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.formcontato__input,
.formcontato__textarea,
.formcontato__botao {
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-size: .9rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.formcontato__botao {
    background-color: #F6B17A;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.formcontato__botao:hover {
    filter: brightness(80%);
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.formcontato__botao:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/*
______          _
|  ___|        | |
| |_ ___   ___ | |_ ___ _ __
|  _/ _ \ / _ \| __/ _ | '__|
| || (_) | (_) | ||  __| |
\_| \___/ \___/ \__\___|_|
*/

section.footer{
    background-color: #222831;
    padding: 6% 2% 1%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.footer__rodape {
    font-size: 14px;
    color: var(--cor-de-subtitulo);
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 1rem;
}


/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
